@model Indotalent.Common.DashboardPageModel

@inject Serenity.ITextLocalizer Localizer
@{
	ViewData["Title"] = "Dashboard";
	ViewData["PageId"] = "Dashboard";
}

@section Head {
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")
<style>
	.widget-bg-zero {
		background: white;
		color: black;
	}

	.widget-bg-one {
		background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
		color: white;
	}

	.widget-bg-two {
		background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
		color: white;
	}

	.widget-bg-three {
		background: #04a9f5;
		color: white;
	}

	.widget-bg-four {
		background: aqua;
		color: white;
	}
</style>
<script type="text/javascript">


	$(function () {

	 $(".knob").knob({
		'format' : function (value) {
			return value + '%';
		}
	});

	  var purchaseChart = new Morris.Line({
		element: 'purchase-chart',
		resize: true,
		data: @(Html.Raw(Json.Serialize(Model.PurchaseGraph))),
		xkey: 'Month',
		ykeys: ['Amount'],
		labels: ['Amount (@Model.Currency)'],
		lineColors: ['#efefef'],
		lineWidth: 2,
		hideHover: 'auto',
		gridTextColor: "#fff",
		gridStrokeWidth: 0.4,
		pointSize: 4,
		pointStrokeColors: ["#efefef"],
		gridLineColor: "#efefef",
		gridTextFamily: "Open Sans",
		gridTextSize: 10
	  });

	  var salesChart = new Morris.Line({
		element: 'sales-chart',
		resize: true,
		data: @(Html.Raw(Json.Serialize(Model.SalesGraph))),
		xkey: 'Month',
		ykeys: ['Amount'],
		labels: ['Amount (@Model.Currency)'],
		lineColors: ['#efefef'],
		lineWidth: 2,
		hideHover: 'auto',
		gridTextColor: "#fff",
		gridStrokeWidth: 0.4,
		pointSize: 4,
		pointStrokeColors: ["#efefef"],
		gridLineColor: "#efefef",
		gridTextFamily: "Open Sans",
		gridTextSize: 10
	  });

	});

</script>
}

@section ContentHeader {

}

<div class="row">
	<div class="col-lg-4">
		<div class="small-box widget-bg-one">
			<div class="inner">
				<h3>@Model.CurrentMonthSales.Amount.ToString("##,##.00")</h3>
				<p>Sales Orders (@Model.Currency)</p>
			</div>
			<div class="icon">
				<i class="ion ion-bag"></i>
			</div>
			<a href="~/Sales/SalesOrder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="small-box widget-bg-two">
			<div class="inner">
				<h3>@Model.CurrentMonthPurchase.Amount.ToString("##,##.00")</h3>
				<p>Purchase Orders (@Model.Currency)</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="~/Purchase/PurchaseOrder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="small-box widget-bg-three">
			<div class="inner">
				<h3>@Model.CurrentMonthMargin.Amount.ToString("##,##.00")</h3>
				<p>Margin (@Model.Currency)</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="#" class="small-box-footer">#</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="small-box text-center widget-bg-one">
			<div class="inner">
				<input type="text" class="knob" data-readonly="true" value="@Model.CurrentMonthSalesTransaction" data-width="200" data-height="200" data-fgColor="#23b7e5">
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="~/Sales/SalesOrder" class="small-box-footer">Sales Transaction <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="small-box text-center widget-bg-two">
			<div class="inner">
				<input type="text" class="knob" data-readonly="true" value="@Model.CurrentMonthPurchaseTransaction" data-width="200" data-height="200" data-fgColor="#23b7e5">
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="~/Purchase/PurchaseOrder" class="small-box-footer">Purchase Transaction <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<section class="col-lg-6 connectedSortable">
		<div class="box box-solid widget-bg-two">
			<div class="box-header">
				<i class="fa fa-th"></i>
				<h3 class="box-title">Purchase Graph (@Model.Currency)</h3>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="purchase-chart" style="height: 250px;"></div>
			</div>
			<div class="box-footer no-border">
				<div class="row">
					<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
						<input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI1.Value" data-width="60" data-height="60" data-fgColor="#899FD4">
						<div class="knob-label">@Model.PurchaseKPI1.Name</div>
					</div>
					<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
						<input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI2.Value" data-width="60" data-height="60" data-fgColor="#899FD4">
						<div class="knob-label">@Model.PurchaseKPI2.Name</div>
					</div>
					<div class="col-xs-4 text-center">
						<input type="text" class="knob" data-readonly="true" value="@Model.PurchaseKPI3.Value" data-width="60" data-height="60" data-fgColor="#899FD4">
						<div class="knob-label">@Model.PurchaseKPI3.Name</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="col-lg-6 connectedSortable">
		<div class="box box-solid widget-bg-one">
			<div class="box-header">
				<i class="fa fa-th"></i>
				<h3 class="box-title">Sales Graph (@Model.Currency)</h3>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="sales-chart" style="height: 250px;"></div>
			</div>
			<div class="box-footer no-border">
				<div class="row">
					<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
						<input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI1.Value" data-width="60" data-height="60" data-fgColor="#39CCCC">
						<div class="knob-label">@Model.SalesKPI1.Name</div>
					</div>
					<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
						<input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI2.Value" data-width="60" data-height="60" data-fgColor="#39CCCC">
						<div class="knob-label">@Model.SalesKPI2.Name</div>
					</div>
					<div class="col-xs-4 text-center">
						<input type="text" class="knob" data-readonly="true" value="@Model.SalesKPI3.Value" data-width="60" data-height="60" data-fgColor="#39CCCC">
						<div class="knob-label">@Model.SalesKPI3.Name</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>



